/*imageをgrid上に並べるためのテスト
*/
.container{
  font-size: 10px;
}

.grid-auto-fill,
.grid-auto-fit {
  display: grid;
  border: 1px solid #ddd;
  grid-auto-rows: 250px;
  grid-gap: 10px;
  padding: 10px;
  margin: 10px 30px 20px;
  overflow: hidden;
}

.grid-auto-fill {
  /*minの値を大きくしておけばいい感じにいく*/
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.grid-auto-fit {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.grid-auto-fill > div,
.grid-auto-fit > div {
  padding: 10px;
  background: #ddd;
}

.grid-auto-fill > img,
.grid-auto-fit > img {
  background: #ddd;
}



.work-image {
  width : 100%;
  height : 250px;
  object-fit: cover;
}

.work-image {
  filter: blur(0px);
}

.work-image:hover{
  filter: blur(5px);
  transition: 1.0s;
}

.TestWork{
  position: relative;
  width : 320px;
  hright : 200px;

}

.TestWork p{
  opacity: 0.0;
  position: absolute;
  color : white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}

.TestWork p:hover {
  opacity: 1.0;
  position: absolute;
  color : white;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
}
